:root {
    --color1: rgb(35, 35, 35);
    --color-jeep: rgba(13, 13, 13, 0.5);
    --color-nissan: rgba(221, 0, 43, 0.5);
    --color-renault: rgba(255, 204, 0, 0.6);
    --color-vw: rgba(28, 69, 135, 0.5);
}

.color-jeep {
    background-color: var(--color-jeep);
}

.color-nissan {
    background-color: var(--color-nissan);
}

.color-renault {
    background-color: var(--color-renault);
    color: rgb(20, 20, 20);
}

.color-vw {
    background-color: var(--color-vw);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--color1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: rgb(200, 200, 200);
}

.main-div {
    padding: .5rem;
}

input {
    margin-bottom: .4rem;
}

label {
    padding-left: .3rem;
}

.main-div {
    display: flex;
}

.inner-div {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: inherit;
    /* border-right: 1px solid rgb(212, 212, 212); */
}

label:hover {
    color: whitesmoke;
}

.sucursal-container,
.brand-container,
.model-container {
    padding: inherit;
    border: 1px solid rgb(212, 212, 212);
    border-radius: .5rem;
    margin-bottom: .25rem;
}

.model-container {
    margin-bottom: 9rem;
}

.accessory-container {
    padding: inherit;
    /* overflow: auto; */
    border-radius: .5rem;
    margin: .5rem .5rem 9rem .5rem;
}

.btn-container {
    background: linear-gradient(to top, var(--color1) 90%, rgba(35, 35, 35, 0));
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: .5rem;
}

.btn-output,
.btn-output-off,
.btn-output-presupuesto,
.btn-output-presupuesto-off,
.btn-copy,
.btn-clear {
    padding: .5rem;
    border-radius: .5rem;
    color: rgb(212, 212, 212);
    /* position: fixed; */
    /* bottom: .5rem; */
}

.btn-output {
    margin-left: 2rem;
    background-color: rgb(72, 99, 32);
}

.btn-output-off {
    color: rgb(52, 72, 12);
    background-color: rgb(162, 182, 122);
    /* left: 5.7rem; */
}

.btn-output-presupuesto {
    color: rgb(250, 250, 250);
    background-color: rgb(160, 160, 0);
    /* left: 9rem; */
}

.btn-output-presupuesto-off {
    color: rgb(100, 100, 0);
    background-color: rgb(250, 250, 100);
    /* left: 12.6rem; */
}

.btn-copy {
    margin-left: 1rem;
    background-color: rgb(65, 95, 112);
    transition: .5s;
}

.btn-clear {
    margin-left: .25rem;
    background-color: rgba(195, 62, 62, 0.5);
}

.btn-copied {
    background-color: rgb(185, 215, 232);
    padding: .5rem;
    border-radius: .5rem;
    color: rgb(29, 29, 29);
    /* bottom: .5rem; */
    margin-left: 1rem;
}

p {
    font-size: large;
    padding: 1rem;
    padding-left: 2rem;
    padding-bottom: .5rem;
}

@media only screen and (max-width: 800px) {

    html {
        font-size: small;
    }

    div {
        padding: .5rem;
    }

    .main-div {
        flex-direction: column;
    }

    .inner-div {
        display: grid;
        grid-template-columns: 3, 1fr;
        /* grid-auto-rows: minmax(100px, auto); */
        width: 100%;
        border-right: none;
        border-bottom: none;
    }

    .sucursal-container {
        grid-column: 1;
        grid-row: 1;
    }

    .brand-container {
        grid-column: 2;
        grid-row: 1;
    }

    .model-container {
        grid-column: 3;
        grid-row: 1;
    }

    .accessory-container {
        grid-column: 1/3;
        grid-row: 2;
        border-bottom: none;
    }

    .btn-output,
    .btn-output-off,
    .btn-output-presupuesto,
    .btn-output-presupuesto-off,
    .btn-copy,
    .btn-clear,
    .btn-copied {
        font-size: 0px;
        position: absolute;
    }

    .btn-output:after {
        content: "COMPRA";
    }

    .btn-output-off:after {
        content: "-10%";
    }

    .btn-output-presupuesto:after {
        content: "PRESUP";
    }

    .btn-output-presupuesto-off:after {
        content: "-10%";
    }

    .btn-copy:after {
        content: "COPIAR";
    }

    .btn-clear:after {
        content: "BORRAR";
    }

    .btn-copied:after {
        content: "COPIAR";
    }

    .btn-output:after,
    .btn-output-off:after,
    .btn-output-presupuesto:after,
    .btn-output-presupuesto-off:after,
    .btn-copy:after,
    .btn-clear:after,
    .btn-copied:after {
        font-size:small;
    }

    .btn-copy {
        margin-left: 2rem;
    }

}