{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>AUTOCITY</title>
</head>

<body>

    <div class="main-div">
        <div class="inner-div">
            <div id="sucursal-container" class="sucursal-container"></div>

            <div id="brand-container" class="brand-container"></div>

            <div id="model-container" class="model-container"></div>

            <div id="payment-container" class="payment-container"></div>
        </div>
        <div id="accessory-container" class="accessory-container"></div>
    </div>

    <div class="btn-container" id="btn-container">
        <button class="btn-output" id="btn-output">COMPRA</button>
        <button class="btn-output-off" id="btn-output-off">-10%</button>
        <button class="btn-output-presupuesto" id="btn-output-presupuesto">PRESUP</button>
        <button class="btn-output-presupuesto-off" id="btn-output-presupuesto-off">-10%</button>
        <button class="btn-output-total" id="btn-output-total">TOTAL</button>
        <button class="btn-output-total-off" id="btn-output-total-off">-10%</button>
    </div>
    
    <p class="output" id="output"></p>
    <!-- <p class="mensaje-usuario" id="mensaje-usuario"></p> -->

    {{ sucursales|json_script:"sucursal-json" }}
    {{ carbrands|json_script:"carbrand-json" }}
    {{ carmodels|json_script:"carmodel-json" }}
    {{ payment|json_script:'payment-json' }}
    {{ caraccessories|json_script:"caraccessory-json" }}

    <script src="{% static 'index.js' %}"></script>

</body>

</html>